@import url('fonts/fuente.css');
*{
    margin: 0;
    padding: 0;
}

.fondo{
    position: absolute;    
    right: 10%;
    left: 10%;
    width: 80%;
    height: 100%;  
    z-index: -5; 
}
#dialogo{
    margin-top:7vh;
    font-family: var(--fuente-infantil);
    color: rgb(122, 119, 118);
    font-size: 2em;
    text-align:center;    
}
#registro > p,#inicio > p,#ocultarRegistro > p,#ocultarInicio > p{
    font-family: var(--fuente-infantil); 
    color: rgb(54, 53, 53);
    font-size: 1.5em;  
}
#ocultarRegistro{
    display:none;
}
#ocultarInicio{
    display:none;
}
#registro > p,#inicio > p,#ocultarRegistro > p,#ocultarInicio > p:hover{
    cursor:pointer;   
}
#registro:hover{
    text-shadow: 1px 1px 1px yellow;
}
#inicio:hover{
    text-shadow: 1px 1px 1px yellow;
}
#ocultarRegistro:hover{
    text-shadow: 1px 1px 1px yellow;
}
#ocultarInicio:hover{
    text-shadow: 1px 1px 1px yellow;
}
.formularios{
    position: fixed;  
    padding:2vh;  
    background: rgb(212, 193, 158);
    border: 5px solid black;
    top:25%;    
    left:37%;    
    height:55vh;
    width: 30vw;   
    border-radius: 10px; 
    font-family: var(--fuente-infantil);  
    display: none;  
    overflow: auto;    
}
#usuario{
    position: relative;
}
.boton-submit{
    position: relative;  
    padding: 0 2vh 0 2vh;              
    width:100%;
    height:auto;    
    background-color:#F8F32B;
    font-size: 20px;    
    font-family: var(--fuente-infantil);
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 6px 0 #A3A21B;
    text-align: center;
}
.boton-submit:hover{    
    cursor: pointer;
}
.boton-submit:active{
    top: 3px;        
    box-shadow: 0px 2px 0 #A3A21B;
}

/* Componentes ocultos al cargar el html */
#inicio,#registro{
    display:none;
}
.arreglo{
    display:none;
}